<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <div class="container">

  </div>
  <div class="container">
    <fieldset class="form-group">
      <h6>Given Series</h6>
      <p>2 3 10 15 26 35 50 63 82</p>
      <input type="text" [(ngModel)]="index" placeholder="Enter a number (Assume index from 1)" #number
        class="form-control">
    </fieldset>
    <fieldset class="form-group">
      <button class="form-control" class="btn btn-success" (click)=findMissing(number.value)>Show Missing
        Number</button>
    </fieldset>

  </div>